main {
    width: 100vw;
    height: 78vh;
    position: relative;
}

a {
    all: unset;
    cursor: pointer;
}

.content {
    width: 100%;
    height: 100%;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(237,171,40);
    background: linear-gradient(90deg, rgba(237,171,40,1) 0%, rgba(235,143,23,1) 35%, rgba(232,136,81,1) 100%);
}

.call {

    width: 100%;
    height: 80px;
    color: var(--white);
    background-color: var(--bluePrimary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    cursor: pointer;

}

.calltitle {

    color: white;
    font-size: 4rem;

}

footer {
    width: 100vw;
    height: 10vh;
    background-color: var(--black);
}

.box {
    width: 70%;
    height: 70%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;

    padding: 4rem 4rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;

    position: relative;
    
}

.box > h2 {
    font-size: 24px;
    margin-bottom: 12px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

table {
    margin-top: 2rem;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.tablerow:hover{
    cursor: pointer;
    border: none;
    background-color: var(--background);
    color: var(--black);
}

.blank_col {
    border: none;
    text-align: center;
    width: 42px;
}

a { color: inherit; } 

.scrolltable {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

